.content-holder {
    width: 100%;
}
.block-2 {
    margin:0px ;
}

.tile {
    flex: 1 1 40%;
    background-color: #f9f9f9 !important;
    padding: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
}

.tile-container {
    margin-bottom: 10px;
}

.note-input {
    width: 100%;
    height: 100px;
}

.save-button {
    display: block;
    width: 50px; /* Fixed width for the button */
    height: 50px; /* Fixed height to make it a circle */
    padding: 0; /* No padding */
    font-size: 1rem; /* Font size */
    font-weight: bold; /* Bold text */
    color: #ffffff; /* White text */
    background-color: #007bff; /* Blue background */
    border: none; /* No border */
    border-radius: 50%; /* Make it a circle */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    cursor: pointer; /* Pointer cursor */
    transition: background-color 0.2s ease, transform 0.2s ease; /* Smooth transitions */
    text-align: center; /* Center text */
    line-height: 50px; /* Center text vertically */
    margin: 5px auto 0; /* Center horizontally and add top margin */
}

.save-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    transform: translateY(-2px); /* Slight lift on hover */
}

.save-button:active {
    background-color: #004494; /* Even darker blue on click */
    transform: translateY(0); /* Return to original position on click */
}

.save-button:focus {
    outline: none; /* Remove default outline */
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Custom focus outline */
}

.range-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    padding: 10px 20px;
}

.range-value {
    margin-top: 6px; /* Adjust the spacing as needed */
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: #007bff;
    position: absolute;
    top: 25px;
    left: 50%;
    transform: translateX(-50%);
    transition: left 0.3s ease;
    pointer-events: none;
}

.content-holder {
    padding: 20px;
}

.tile {
    background-color: #f8f9fa; /* Light gray background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 20px;
    margin-bottom: 20px; /* Space between tiles */
}

.tile-container {
    margin-bottom: 20px; /* Space between tile containers */
}

.form-container {
    background: #ffffff; /* White background for the form */
    padding: 20px; /* Padding inside the form */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for the form */
}

.range-container {
    position: relative;
    padding: 20px;
}

.range-value {
    margin-top: 10px;
    text-align: center;
}

.form-outline {
    margin-bottom: 20px;
}

.form-outline label {
    display: block;
    margin-bottom: 10px;
}

.note-input {
    height: 100px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-holder {
    padding: 20px;
}

.tile {
    background-color: #f8f9fa; /* Light gray background */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    padding: 30px;
    margin-bottom: 3px; /* Space between tiles */
}

.form-container {
    background: #ffffff; /* White background for the form */
    padding: 30px; /* Padding inside the form */
    border-radius: 10px; /* Rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for the form */
    margin-bottom: 3px; /* Space between forms */
}

.range-container {
    position: relative;
    padding: 10px;
}

.range-value {
    margin-top: 2px;
    text-align: center;
}

.note-input {
    height: 100px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-title {
    font-family: 'Arial', sans-serif;
    font-size: 1.2rem; /* Smaller font size */
    font-weight: bold;
    color: #007bff; /* Blue color for the title */
    margin-bottom: 15px;
    border-bottom: 1px solid transparent;
    background-image: linear-gradient(to right, #5ca4f3, #cadffa);
    background-position: bottom;
    background-size: 100% 1px;
    background-repeat: no-repeat;
    padding-bottom: 5px;
    text-align: center; /* Center align text */
}

.custom-range {
    width: 100%;
    height: 8px;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    transition: background 0.3s;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 8px;
    background: #ddd; /* Default background */
    border-radius: 5px;
    outline: none;
    position: relative;
    --slider-before-width: 0;
    --slider-before-color: #007bff;
}

.slider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 8px;
    border-radius: 5px;
    background: var(--slider-before-color); /* Color for the filled part */
    width: var(--slider-before-width); /* Initial width, will be updated via JavaScript */
    z-index: 0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #007bff; /* Blue color for the thumb */
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1; /* Ensure thumb is above the pseudo-element */
}

.tile.highlighted {
    transform: scale(1.05); /* Slightly enlarge the tile */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Deeper shadow */
}

.coffee-style-form {
    width: 100%;
}

.coffee-style-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.coffee-style-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.coffee-style-group {
    flex: 1;
    margin-right: 10px;
}

.coffee-style-group:last-child {
    margin-right: 0;
}

.coffee-style-label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.coffee-style-control, .coffee-style-select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    appearance: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
    font-size: 1rem; /* Rozmiar czcionki */
    color: #495057; /* Kolor tekstu */
    background-color: #fff; /* Jasnoszare tło */
}

.coffee-style-control {
    cursor: text; /* Kursor tekstu */
}

.coffee-style-select {
    appearance: none; /* Usuwa domyślny styl przeglądarki */
    cursor: pointer; /* Kursor wskaźnika */
}

.coffee-style-control:focus, .coffee-style-select:focus {
    border-color: #80bdff; /* Kolor obramowania podczas fokusu */
    outline: none; /* Usuń domyślne obramowanie */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Cień fokusu */
}

/* Styl dla opcji w menu rozwijanym */
.coffee-style-select option {
    background-color: #ffffff; /* Kolor tła opcji */
    color: #495057; /* Kolor tekstu opcji */
}

/* Styl dla podświetlonej opcji w menu rozwijanym */
.coffee-style-select option:hover, .coffee-style-select option:checked {
    background-color: #80bdff; /* Kolor tła podczas podświetlenia */
    color: #ffffff; /* Kolor tekstu podczas podświetlenia */
}

/* Usunięcie czarnej ramki po rozwinięciu menu wyboru */
.coffee-style-select {
    border: 1px solid #ccc; /* Zastosowanie niestandardowego koloru obramowania */
    border-radius: 4px;
    box-shadow: none; /* Usunięcie wewnętrznego cienia */
}

.coffee-style-btn {
    margin-top: 10px;
    background-color: #007bff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-weight: bold;
    color: white;
}

.coffee-style-btn:hover {
    background-color: #0056b3;
}

.choose-gap {

}

.choose-gap {
    margin-top: 20px;
}




