<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VitalHustle</title>
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load static %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
    <link rel="stylesheet" href="{% static 'css/offcanvas_menu.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block css %}
    {% endblock %}
<body>
<main>
    <div id="sidebar" class="d-flex flex-column flex-shrink-0 p-3 sidebar">
        <div class="logo-container">
            <img class="logo nav-icon" src="{% static 'img/vitalhustle_icon.svg' %}" alt="Icon">
            <span class="fs-4">VitalHustle</span>
        </div>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
            <li class="nav-item">
                <a href="{% url 'home' %}" class="nav-link active" aria-current="page">
                    <img class="img-style nav-icon" src="{% static 'img/home_icon.svg' %}" alt="Icon">
                    Home
                </a>
            </li>
            <li>
                <a href="{% url 'cald-view' %}" class="nav-link text-white">
                    <img class="img-style nav-icon" src="{% static 'img/calendar_icon.svg' %}" alt="Icon">
                    Calendar
                </a>
            </li>
            <li>
                <a href="{% url 'Statistics-view' %}" class="nav-link text-white">
                    <img class="img-style nav-icon" src="{% static 'img/statistic_icon.svg' %}" alt="Icon">
                    Statistics
                </a>
            </li>
        </ul>
        <hr>
        <div class="dropdown">
            <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
               data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://api.dicebear.com/8.x/pixel-art/svg?seed={{ user|default:" Anonymous" }}" alt=""
                     width="32" height="32" class="rounded-circle me-2 border border-dark">
                <div class="username text-shadow" id="username"><strong>{{ request.user.username }}</strong></div>
            </a>
            <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" id="changePasswordLink" href="#">Change password</a></li>
                <li>
                    <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
            </ul>
        </div>
    </div>
    <button id="toggle-button" class="toggle-button">&#9776;</button>
    <div class="container content">
        {% if messages %}
            <div class="alert alert-dismissible" role="alert">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">{{ message }}</div>
                {% endfor %}
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endif %}
        {% block content %}{% endblock %}
    </div>
</main>

<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasElement" aria-labelledby="offcanvasElementLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasElementLabel"></h5>
        <button type="button" class="btn-close offcanvas-btn-close text-reset" data-bs-dismiss="offcanvas"
                aria-label="Close"></button>
    </div>
    <div class="offcanvas-body"></div>
</div>

<script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js"></script>
<script src="{% static 'js/utils/alert.js' %}"></script>
<script src="{% static 'js/base.js' %}"></script>
<script type="text/javascript">
        window.addEventListener('load', () => {
            window.alertManager = new AlertManager();
            initializeChangePasswordTrigger();
        })
    </script>
{% block script %}{% endblock %}
</body>
</html>
