<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit or add user</title>
    {% load static %}
{#    <link rel="stylesheet" href="{% static 'css/offcanvas_menu.css' %}">#}
</head>
<body>
    <form method="post" id="user-form">
        {% csrf_token %}
        {% for field in form %}
        <p>
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.help_text %}
                <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
        </p>
    {% endfor %}
        <button type="button" class="btn btn-apply rounded-pill shadow-none user-edit-btn">Apply</button>
    </form>
</body>
</html>